.container {
  width: 100%;
  display: flex;
  justify-content: center;
  .form {
    color: white;
    padding: 40px;

    &-data {
      margin-top: 10px;
      input {
        padding: 5px 15px;
        border-radius: 4px;
      }

      input.ng-invalid.ng-touched {
        border: 1px solid red;
      }
      .error-text {
        color: rgb(252, 56, 56);
      }
    }

    &-btn {
      margin-top: 10px;
      padding: 5px 10px;
      background-color: darkolivegreen;
      border: 1px solid darkolivegreen;
      border-radius: 4px;
      color: white;
      margin-right: 10px;
    }
    &-btn:disabled {
      opacity: 0.7;
    }
  }
}
