<div class="container">
  <form class="form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="form-data">
      <label for="firstName">First Name:</label><br />
      <input
        type="text"
        id="firstName"
        formControlName="firstName"
        placeholder="Enter your first name..."
      />
      <div
        *ngIf="
          contactForm.get('firstName')?.invalid &&
          (contactForm.get('firstName')?.dirty ||
            contactForm.get('firstName')?.touched)
        "
      >
        <small class="error-text">First name is required.</small>
      </div>
    </div>
    <div class="form-data">
      <label for="lastName">Last Name:</label><br />
      <input
        type="text"
        id="lastName"
        formControlName="lastName"
        placeholder="Enter your last name..."
      />
      <div
        *ngIf="
          contactForm.get('lastName')?.invalid &&
          (contactForm.get('lastName')?.dirty ||
            contactForm.get('lastName')?.touched)
        "
      >
        <small class="error-text">Last name is required.</small>
      </div>
    </div>
    <div class="form-data">
      <label for="phoneNumber">Phone Number:</label><br />
      <input
        type="text"
        id="phoneNumber"
        formControlName="phoneNumber"
        placeholder="Enter your phone number..."
      />
      <div
        *ngIf="
          contactForm.get('phoneNumber')?.invalid &&
          (contactForm.get('phoneNumber')?.dirty ||
            contactForm.get('phoneNumber')?.touched)
        "
      >
        <small class="error-text">Phone number is required.</small>
      </div>
    </div>
    <div class="form-data">
      <label for="birthday">Birthday:</label><br />
      <input
        type="text"
        id="birthday"
        formControlName="birthDay"
        placeholder="Enter your birthday..."
      />
      <div
        *ngIf="
          contactForm.get('birthDay')?.invalid &&
          (contactForm.get('birthDay')?.dirty ||
            contactForm.get('birthDay')?.touched)
        "
      >
        <small class="error-text">Invalid birthday format.</small>
      </div>
    </div>
    <div class="form-data">
      <label for="email">Email:</label><br />
      <input
        type="email"
        id="email"
        formControlName="email"
        placeholder="Enter your email..."
      />
      <div
        *ngIf="
          contactForm.get('email')?.invalid &&
          (contactForm.get('email')?.dirty || contactForm.get('email')?.touched)
        "
      >
        <small class="error-text">Invalid email format.</small>
      </div>
    </div>
    <div class="form-data">
      <label for="address">Address:</label><br />
      <input
        type="text"
        id="address"
        formControlName="address"
        placeholder="Enter your address..."
      />
      <div
        *ngIf="
          contactForm.get('email')?.invalid &&
          (contactForm.get('address')?.dirty ||
            contactForm.get('email')?.touched)
        "
      >
        <small class="error-text">Invalid address format.</small>
      </div>
    </div>
    <div class="form-btns">
      <button class="form-btn" type="submit" [disabled]="!contactForm.valid">
        {{ isEditing ? "Edit Contact" : "Add Contact" }}
      </button>
      <button class="form-btn" type="text" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>
