<div class="details">
  <ng-container *ngIf="!isEditing; else editForm">
    <div class="details-info" *ngFor="let item of detailsInfo">
      <h2>{{ item.firstName }} {{ item.lastName }}</h2>
      <div class="details-info-container">
        <div class="info">
          <span>Phone Number:</span>
          <span>{{ item.phoneNumber }}</span>
        </div>
        <div class="info">
          <span>Birthday:</span>
          <span>{{ item.birthDay }}</span>
        </div>
        <div class="info">
          <span>Email:</span>
          <span>{{ item.email }}</span>
        </div>
        <div class="info">
          <span>Address:</span>
          <span>{{ item.address }}</span>
        </div>
      </div>
      <div class="details-btns">
        <button class="details-btn" (click)="onEditContact(item)">Edit</button>
        <button class="details-btn" (click)="onHomePage()">Go Back</button>
      </div>
    </div>
  </ng-container>
  <ng-template #editForm>
    <app-contact-form
      [isEditing]="true"
      [contact]="selectedContact"
    ></app-contact-form>
  </ng-template>
</div>
