.details {
  color: white;
  padding: 40px;
  height: 100%;
  .details-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .info {
      padding: 10px;
      span {
        padding-right: 5px;
      }
    }
    .details-btn {
      padding: 5px 15px;
      margin-right: 10px;
    }
  }
}
