.cover {
  min-height: 100vh;
  padding-top: 63px;
  overflow-y: auto;
  background-color: rgb(4, 151, 102);
  padding: 63px 200px 20px 200px;

  .cover-container {
    padding: 0px 30px;
    min-height: calc(100vh - 143px);
    overflow: hidden;
    background-color: black;
    border: 1px solid gainsboro;
    border-radius: 8px;
  }
}
@media screen and (max-width: 768px) {
  .cover {
    padding: 63px 100px 20px 100px;
  }
}
@media screen and (max-width: 556px) {
  .cover {
    padding: 0px;
  }
}
