<div class="contacts">
  <h2 class="contacts-title">List Of Contacts</h2>
  <div class="contacts-search">
    <app-search (searchEvent)="onSearch($event)"></app-search>
  </div>
  <div class="contacts-btn">
    <a routerLink="add-contact" routerLinkActive="active"
      ><button class="add-contact">ADD CONTACT</button></a
    >
  </div>
  <div class="contact" *ngFor="let contact of filteredContacts">
    <h3 class="contact-name">{{ contact.firstName }} {{ contact.lastName }}</h3>
    <div class="contact-phone">
      <label
        >Phone number:
        <span>{{ contact.phoneNumber }}</span>
      </label>
    </div>
    <div class="contact-btns">
      <button class="delete" (click)="removeContact(contact.id)">DELETE</button>
      <button
        class="details"
        routerLink="details"
        routerLinkActive="active"
        (click)="detailsInfo(contact.id)"
      >
        DETAILS
      </button>
    </div>
  </div>
</div>
