.contacts {
  display: flex;
  flex-direction: column;
  padding: 40px;
  color: white;
  &-title {
    text-align: center;
  }

  &-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    .add-contact {
      padding: 5px 10px;
    }
  }

  .contact {
    border: 1px solid white;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;

    &-btns {
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
      .delete {
        padding: 5px 10px;
        margin-right: 10px;
      }
      .details {
        padding: 5px 10px;
      }
    }
  }
}
